*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.075),rgba(39, 68, 95, 0.253)), url(sakura.jpg);
    
    background-size: cover;
    background-position: center;

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.61);
    width: 100vw;

}
.logo{
    position: relative;
    width: 230px;
   
    margin: 0 230px -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 -20px;
    position: relative;
    margin-right: 80px;
    margin-top: 30px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #233b55;
    text-transform: uppercase;
    font-weight: bold;
    

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #5a718a;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}

